footer {
    .footer {
        &-container {

            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 2.5rem 1rem;
            background-color: #171d25;

            &-title {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                gap: .5rem;

                .logo {
                    font-weight: 600;
                    font-size: 1.5rem;
                    padding: 0.25rem;
                    cursor: pointer;
                    color: white;
                }

                p {
                    color: white;
                }
            }
        }


    }


}